@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #232526, #414345);
    --background: 212 95.2% 98.3%;
    --foreground: 212 0.4% 0.6%;

    --muted: 212 0.4% 91.5%;
    --muted-foreground: 212 0.2% 41.5%;

    --popover: 212 86.8% 91.5%;
    --popover-foreground: 212 0.4% 0.75%;

    --card: 212 86.8% 91.5%;
    --card-foreground: 212 0.4% 0.75%;

    --border: 212 5.4% 89.6%;
    --input: 212 5.4% 89.6%;

    --primary: 212 4% 15%;
    --primary-foreground: 212 0.08% 91.5%;

    --secondary: 212 0.2% 95.75%;
    --secondary-foreground: 212 1.24% 11.5%;

    --accent: 212 0.2% 95.75%;
    --accent-foreground: 212 1.24% 11.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 212 4% 15%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
